.header{
  width: 100%;
  height: 25vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-inner{

  > h1 {
    font-size: clamp(26px, 7vw, 48px);
    font-family: 'Maven Pro', sans-serif;
  }
}

.products{
  display: flex;
  width: 100%;
  min-height: 70vh;
  height: auto;
  border: 1px solid red;

  > .productData{
    width: 175vw;
    min-height: 70vh;
    height: auto;
    border: 1px solid green;
  }

  > .checkout{
    width: 100%;
    min-height: 70vh;
    height: auto;
    border: 1px solid yellowgreen;
  }
}

.footer{
  width: 100%;
  height: 23vh;
  background-color: #f5f5f5;
  padding-top: 2.5vh;
}

.footer-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;

  > .footer-div {
    width: 20vw;
    height: 16vh;
    margin: 0px 15px 0px 15px;
  }

  > .section1 {

    > h2 {
      font-family: 'Kanit', sans-serif;
      font-weight: bold;
      font-size: clamp(16px, 1.3vw, 20px);
      margin-left: 30px;
    }

    li {
      font-family: 'Poppins', sans-serif;
      font-size: clamp(12px, 0.8vw, 18px);
      list-style: none;
    }
  }

  > .section2 {

    > h2 {
      font-family: 'Kanit', sans-serif;
      font-weight: bold;
      font-size: clamp(16px, 1.3vw, 20px);
      margin-left: 30px;
    }

    li {
      list-style: none;

      > a {
        font-family: 'Poppins', sans-serif;
        font-size: clamp(12px, 0.8vw, 18px);
        text-decoration: none;
        color: black;
      }
    }
  }

  > .section3 {

    > h2 {
      font-family: 'Kanit', sans-serif;
      font-weight: bold;
      font-size: clamp(16px, 1.3vw, 20px);
      margin-left: 30px;
    }

    li {
      list-style: none;

      > a {
        font-family: 'Poppins', sans-serif;
        font-size: clamp(12px, 0.8vw, 18px);
        text-decoration: none;
        color: black;
      }
    }
  }
}
