<div class="main-wrap">

  <div class="header">
    <div class="header-inner">
      <h1>Cart</h1>
    </div>
  </div>

  <div class="products">

    <div class="productData">
      <div class="products-inner">
        <div style="height: 8vh; width: 35%">
          <div class="data" style="border: 1px solid #808080; border-right:0px; height: 8vh" *ngFor="let tempUrl of urls"><img src="{{tempUrl}}" alt="" width="50px" height="50px" style="object-fit: contain; object-position: center"> </div>
        </div>
        <div style="height: 8vh; width: 125%">
          <div class="data" style="border: 1px solid #808080; border-left:0px; border-right:0px; height: 8vh; padding-top: 10px" *ngFor="let tempTitle of titles"> <p style="font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 1rem;"> {{tempTitle}} </p> </div>
        </div>
        <div style="height: 8vh; width: 70%">
          <div class="data" style="border: 1px solid #808080; border-left:0px; border-right:0px; height: 8vh; padding-top: 10px" *ngFor="let tempColor of colors"> <p style="font-size: 0.9rem;"> {{tempColor}} </p> </div>
        </div>
        <div style="height: 8vh; width: 50%">
          <div class="data" style="border: 1px solid #808080; border-left:0px; height: 8vh; padding-top: 10px" *ngFor="let tempSize of sizes"> <p style="font-size: 0.9rem;"> {{tempSize}} </p> </div>
        </div>
      </div>
    </div>

    <div class="checkout">
      <div class="price" style="display: flex; justify-content: center; align-items: center; width: 30vw; height: 10vh;">
        <h2 style="margin-top:1.7vh; font-size: clamp(16px, 3vw, 32px); color: #fc861e"> Total - Rs.{{price}} </h2>
      </div>

      <div class="button">
        <div class="checkout-btn" style=" display: flex; justify-content: center; align-items: center; width: 13vw; height: 7.5vh; border-radius: 7px; background-color: #463f64">
          <a style="color: white; font-size: clamp(12px, 1.2vw, 22px); text-decoration: none" routerLink="/cart/checkout-page" (click)="checkout()">Checkout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer section -->
  <div class="footer">
    <div class="footer-inner">
      <div class="footer-div section1" style="display: flex; flex-direction: column; align-items: center">
        <div style="width:15vw;">
          <h2 style="margin-left: 30px">Contact</h2>
          <ul>
            <li>bigdealslk@info.lk</li>
            <li>011-2345678</li>
            <li>BigDealsLK, Borella, Colombo 10</li>
          </ul>
        </div>
      </div>

      <div class="footer-div section2" style="display: flex; flex-direction: column; align-items: center">
        <div style="width:10vw;">
          <h2 style="margin-left: 30px">Quick links</h2>
          <ul>
            <li><a routerLink="/admin"> Admin </a> </li>
            <li><a routerLink="/products/mens-products"> Products </a> </li>
            <li><a routerLink="/accounts/login"> Accounts </a> </li>
            <li><a href="#"> About Us </a> </li>
          </ul>
        </div>
      </div>

      <div class="footer-div section3" style="display: flex; flex-direction: column; align-items: center">
        <div style="width:10vw;">
          <h2 style="margin-left: 30px">Follow Us</h2>
          <ul>
            <li><a href="https://www.facebook.com/"> Facebook </a> </li>
            <li><a href="https://www.instagram.com/"> Instagram </a> </li>
            <li><a href="https://twitter.com/"> Twitter</a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center">
      <p style="font-size: clamp(8px, 0.7vw, 14px);">© 2022 BigDealsLK (pvt) ltd.</p>
    </div>
  </div>
  <!-- Footer section -->

</div>
