<div class="main-wrap">

  <div class="product">
    <div class="product-inner">

      <div class="header h1-div" style="width: 75vw">
        <h1>Product Controller</h1>
      </div>

      <div class="btn2 h-div" style="width: 11vw">
        <button type="button" class="btn btn-warning" style="width: 120px" routerLink="/admin/product-controller">Add product</button>
      </div>

      <div class="btn2 h-div" style="width: 12vw">
        <button type="button" class="btn btn-warning" style="width: 140px" routerLink="/admin/product-controller">Update Product</button>
      </div>

      <div class="btn2 h-div" style="width: 12vw">
        <button type="button" class="btn btn-warning" style="width: 140px" routerLink="/admin/product-controller">Delete product</button>
      </div>

      <div class="btn1 h-div" style="width: 12vw">
        <button type="button" class="btn btn-secondary" style="width: 120px; margin-right: 20px">Logout</button>
      </div>

    </div>
  </div>

</div>
