<div class="main-wrap">

  <div class="delete">
    <div class="delete-inner">

      <div class="header h1-div" style="width: 60vw">
        <h1>Delete Admin</h1>
      </div>

      <div class="btn1 h-div" style="width: 10vw">
        <button type="button"class="btn btn-danger" style="width: 120px" routerLink="/admin/register-admin">Register</button>
      </div>

      <div class="btn2 h-div" style="width: 10vw">
        <button type="button" class="btn btn-danger" style="width: 120px" routerLink="/admin/update-admin">Update</button>
      </div>

      <div class="btn2 h-div" style="width: 10vw">
        <button type="button" class="btn btn-warning" style="width: 120px" routerLink="/admin/product-controller">Products</button>
      </div>

      <div class="btn1 h-div" style="width: 10vw">
        <button type="button" class="btn btn-secondary" style="width: 120px; margin-right: 20px" (click)="logout()">Logout</button>
      </div>

    </div>
  </div>

  <div class="container form-div">

    <form [formGroup]="deleteForm" (ngSubmit)="delete(email.value)">

      <div class="container">
        <div class="row" style="margin-bottom: 25px">
          <div class="col-8">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Email of the admin</mat-label>
              <input #email matInput placeholder="jagathperera@gmail.com">
            </mat-form-field>
          </div>

          <div class="col-4">
            <button type="button" class="btn btn-outline-danger" style="width: 100% ; height: 52px ; margin-top: 3px" (click)="getAdmin(email.value)">Search Here</button>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Name</mat-label>
              <input formControlName="fullName" matInput placeholder="Jagath Perera">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Date of birth</mat-label>
              <input formControlName="dob" matInput placeholder="12/24/1985">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Address</mat-label>
              <input formControlName="address" matInput placeholder="Galle, Sri Lanka">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Contact</mat-label>
              <input formControlName="contact" matInput placeholder="0771234567">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="outline" style="width: 100% ;">
              <mat-label>NIC</mat-label>
              <input formControlName="nic" type="tel" matInput placeholder="20002340059v">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-danger" style="width: 100%; height: 7vh">Delete</button>
          </div>
        </div>
      </div>
    </form>

  </div>

</div>


<router-outlet></router-outlet>
