<div class="main-wrap">

  <div class="product">
    <div class="product-inner">

      <div class="header h1-div" style="width: 50vw">
        <h1>Product Controller</h1>
      </div>

      <div class="btn2 h-div" style="width: 13vw">
        <button type="button" class="btn btn-warning" style="width: 140px" routerLink="/admin/product-controller/add-product">Add product</button>
      </div>

      <div class="btn2 h-div" style="width: 13vw">
        <button type="button" class="btn btn-warning" style="width: 140px" routerLink="/admin/product-controller/update-product">Update Product</button>
      </div>

      <div class="btn2 h-div" style="width: 13vw">
        <button type="button" class="btn btn-warning" style="width: 140px" routerLink="/admin/product-controller/delete-product">Delete product</button>
      </div>

      <div class="btn2 h-div" style="width: 13vw">
        <button type="button" class="btn btn-danger" style="width: 140px" routerLink="/admin/register-admin">Admin</button>
      </div>

      <div class="btn1 h-div" style="width: 13vw">
        <button type="button" class="btn btn-secondary" style="width: 140px; margin-right: 15px">Logout</button>
      </div>

    </div>
  </div>

  <div class="container form-div">

    <h1 style="font-size: clamp(18px, 4.5vw, 32px); font-family: 'Maven Pro', sans-serif; margin-bottom: 5vh; margin-top: 10vh">Update Product</h1>

    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="standard" style="width: 100%; margin-bottom: 30px; margin-top: 15px">
          <mat-label>Search Here</mat-label>
          <input #code matInput placeholder="TS0001" (keyup.enter)="getProduct(code.value)">
        </mat-form-field>
      </div>
    </div>

    <form [formGroup]="updateProductForm" (ngSubmit)="update(code.value)">
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Title of the product</mat-label>
            <input formControlName="title" matInput placeholder="Light blue men's t-shirt">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" style="width: 100% ;">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput placeholder="Description of the product"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="margin-bottom: 25px">
        <div class="col-9">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Colors (Add again from the beginning one by one)</mat-label>
            <input #colors formControlName="colors" matInput placeholder="Blue">
          </mat-form-field>
        </div>

        <div class="col-3">
          <button type="button" class="btn btn-outline-danger" style="width: 100% ; height: 52px ; margin-top: 3px" (click)="addColors(colors.value)">Add</button>
        </div>

        <div>
          <p style="margin-top: -1.2vh; color:#a2a2a2; font-size: clamp(10px, 0.8vw, 18px); padding-left: 0.1vw">Make sure to add whether it was modified or not.</p>
        </div>
      </div>

      <div class="row" style="margin-bottom: 25px">
        <div class="col-9">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Sizes (Add again from the beginning one by one)</mat-label>
            <input #sizes formControlName="sizes" matInput placeholder="Blue">
          </mat-form-field>
        </div>

        <div class="col-3">
          <button type="button" class="btn btn-outline-danger" style="width: 100% ; height: 52px ; margin-top: 3px" (click)="addSizes(sizes.value)">Add</button>
        </div>

        <div>
          <p style="margin-top: -1.2vh; color:#a2a2a2; font-size: clamp(10px, 0.8vw, 18px); padding-left: 0.1vw">Make sure to add whether it was modified or not.</p>
        </div>
      </div>

      <div class="row" style="margin-bottom: 25px">
        <div class="col-9">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Image Urls (Add again from the beginning one by one)</mat-label>
            <input #urls formControlName="urls" matInput placeholder="http://BigDealsLK.lk/image">
          </mat-form-field>
        </div>

        <div class="col-3">
          <button type="button" class="btn btn-outline-danger" style="width: 100% ; height: 52px ; margin-top: 3px" (click)="addUrls(urls.value)">Add</button>
        </div>

        <div>
          <p style="margin-top: -1.2vh; color:#a2a2a2; font-size: clamp(10px, 0.8vw, 18px); padding-left: 0.1vw">Make sure to add whether it was modified or not.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" style="width: 100% ;">
            <mat-label>Price</mat-label>
            <input formControlName="price" matInput placeholder="1890.00">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-danger" style="width: 100%; height: 7vh">Update</button>
        </div>
      </div>
    </form>

  </div>


</div>


<router-outlet></router-outlet>
